#player1 {
    position: absolute;
    left: 0px;
    top: 400px;
    width: 30px;
    height: 180px;
    background-color: blue;
    border-radius: 50%;
}

#player2 {
    position: absolute;
    right: 0px;
    top: 400px;
    width: 30px;
    height: 120px;
    background-color: red;
    border-radius: 50%;
}

#ball {
    position: absolute;
    left: 820px;
    top: 10px;
    width: 30px;
    height: 180px;
    background-color: black;
    border-radius: 50%;
}